{
  "plugins": [
    "react-loadable/babel",
    "transform-console-log-variable-names",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-require",
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ]
  ]
}
