/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


// Colors
blue = #3F51B5
yellow = #FF0
text = #212121
dark-blue = #303F9F
light-blue = #CFD8DC
light-grey = #B6B6B6
grey = #727272

red = #e51c23
purple = #673ab7
indigo = #3f51b5
green = #259b24
orange = #ff9800

social = {
    twitter: #00aced,
    facebook: #3b5998,
    google: #dd4b39,
    youtube: #bb0000
}

moves = {
	top-rock: blue,
	go-down: purple,
	footwork: green,
	power-move: red,
	freeze: indigo,
	burner: orange
}

// Grid
$xsmall = 340px
$small = 500px
$med = 800px
$large = 960px
$wide = 1200px

// Layers
z = {
    video: 7,
    header: 8,
    nav: 9,
    modal: 10
}





/*------------------------------------*\
    $BASE
\*------------------------------------*/


normalize-css()

html
    box-sizing: border-box
    height 100% 

*, *:before, *:after
    box-sizing: inherit

body 
	font-family: 'Roboto', sans-serif
	background: #DEDEDE
	color text 
	height 100% 
	> div, > div > div, > div > div > div 
		height 100%

p
	font-size 1.6em 


.btn
	background blue
	color #FFF
	text-transform uppercase
	border none
	border-radius 4px 
	padding: 25px 80px
	font-weight 700 
	transition: all 0.3s
	&.btn-cancel
		background red 
	&.btn-start
		background green   

.page-wrapper
	min-height: 100%
	

header 
    background blue
    color #fff
    fixed top left
    width 100%
    z-index: z.nav
    text-align center
    box-shadow: 1px 3px 4px rgba(#000000, 0.22), -3px 1px 4px rgba(#000000, 0.15)
    .fa-navicon, .fa-times
        cursor pointer
        position: absolute
        top: 0
        right: 0
        padding 25px 20px 
        font-size: 1.4em
    .fa-times
        display none
    clearfix()
    h1, h2
        padding 20px 20px 15px  
        margin 0 
        font-size: 31px
        font-weight: 400
        line-height: 33px
    +above($large)
        float left

.open   
    .main-nav
        transform: translateX(0)
        transition all 0.4s ease-in
    .fa-navicon
        display none
    .fa-times
        display block

.main-nav
    background blue
    fixed top left
    width 100% 
    height 100%
    padding-top 100px 
    z-index: -1
    transition all 0.4s ease-out
    transform: translateX(-100%)
	ul
		list-style none
		padding 0
		margin 0
		clearfix()
	ul li a
		padding 20px
		color #FFF 
		transition all 0.3s ease
		display block
		text-decoration none
		border-bottom 4px solid blue
		&:hover
			border-bottom 4px solid yellow
			background dark-blue
	+above($large)
		transform translateX(0)
		float right
		li
			float left

#login-dropdown-list
	position fixed
	right 0
	border none
	border-radius 0
	left auto
	box-shadow: 1px 3px 4px rgba(#000000, 0.22), -3px 1px 4px rgba(#000000, 0.15)
	background blue
	color #FFF
	width 100% 
	top 0
	margin 0
	height 100% 
	+above($large)
		padding: 5% 15%

#login-buttons
	display block
	.login-button
		font-size 1.6em 
	#login-buttons-twitter 
		background: #FFF
		border: none
		color: social.twitter 
	+above($large)
		display inline-block

#login-buttons, .accounts-dialog
	label 
		font-size 1.6em 
	input[type=text], input[type=text], input[type=email], input[type=email], input[type=password], input[type=password]
		appearance none 
		background blue + 20
		border-radius 0
		border none 
		font-size 1.6em 





/*------------------------------------*\
    $HOME
\*------------------------------------*/


.homepage-zone
	text-align center





/*------------------------------------*\
    $MOVES
\*------------------------------------*/


.brand-new-move
	display none

.types
	position relative
	background: #FFF
	width: 98%
	margin: 60px auto
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	border-radius: 12px
	padding: 15px
	box-shadow: -4px 2px 6px rgba(#000000, 0.09), 2px 2px 7px rgba(#000000, 0.08)
	+above($small)
		padding: 30px 40px
	+above($large)
		width: 90%
		padding: 40px 80px

.book
	display none
	width 120px 
	height 180px 
	top -110px 
	left 50%
	transform: translateX(-60px)  
	position absolute
	border-radius 9px 
	background #333
	box-shadow: 1px 3px 4px rgba(#000000, 0.22), -3px 1px 4px rgba(#000000, 0.15)
	+above($med)
		top -40px
		left -50px
		transform: translateX(0)
	p
		background #FFF 
		font-size 56px 
		margin 50px 10px
		border-radius 5px
		text-align center 
	.book-title
		display none   

.type
	width 100% 
	+above($large)
		width: 48%
	h3
		border-bottom: solid 4px green
		font-size: 38px;
		padding-bottom 6px 
	for $label, $color in moves
		&.{$label}
			h3
				border-color $color

.moves
	list-style none
	padding 0
	overflow hidden

.move
	margin 0 10px 20px
	font-size: 26px
	position relative
	.move-value
		display inline-block
		background blue
		color #FFF
		border-radius 50%
		opacity 0.5
		font-size 0.8em
		font-weight 800
		width 25px
		height 25px
		text-align center
		line-height 25px
		margin-left 10px  
	.edit-toggle
		position absolute
		right 0
		opacity 0.1
		transition all 0.3s ease
	&:hover
		.edit-toggle
			opacity 0.5   
	&:first-child
		display none
	> .controls
		display: none
		.delete.btn
			background red
			padding: 5px 10px
			margin-right 5px 
		&.open
			display inline-block

.move-form
	font-size 26px 
		
.new-move
	display: flex
	justify-content space-apart 
	input
		width 60% 
		padding: 10px 13px 6px
		background: #EEEEEE
		border: none
		& + input
			width 25% 
			margin-left 2.5%
	button
		margin-left 2.5% 
		background blue
		border: none
		color #FFF
		text-align center
		width 10%
		transition all 0.2s ease
		&:hover 
			background dark-blue
		
.add-new-move
	width 100%
	background #FFF
	border none
	color #D5D5D5
	border-top @color solid 4px   
	font-size 1.4em
	padding 15px 
	transform: translateY(-63px)
	transition all 0.3s ease
	&:focus
		outline none
	.form-toggle-icons
		top -2px 
		width 20px 
		height 20px 
		position relative
		display inline-block
		i
			position absolute
			transition all 0.3s ease 
	&.open
		transform: translateY(0)
		.fa-plus
			transform: scaleY(0)
	.form-toggle-text
		opacity 0 
		white-space: nowrap
		display inline-block
		width 0 
		overflow hidden
		transition all 0.3s ease 
	&:hover
		.form-toggle-text
			opacity 1 
			width 150px 





/*------------------------------------*\
    $STOPWATCH
\*------------------------------------*/


.stopwatch
	text-align center
	background: #FFF
	width: 98%
	margin: 0 auto
	border-radius: 12px
	padding: 20px 15px
	box-shadow: -4px 2px 6px rgba(#000000, 0.09), 2px 2px 7px rgba(#000000, 0.08)
	h3
		font-size 6em
		margin 0.4em 0
	.btn 
		width 100%
		margin-bottom 20px  
	+above($large)
		width: 90%
		padding: 40px 80px
		h3
			font-size 10em 
			margin 0.4em 0
		.btn
			font-size 2em
			& + .btn
				margin-left 5px 



.site-footer
	background text
	color #FFF  
	padding 20px
	
.newmove-enter
  animation-duration: .75s;
  animation-name: fadeInLeft;
  transform-origin: center bottom;

.newmove-leave
  animation-name: zoomOut
  animation-duration: .75s
  background: yellow
  opacity: 1.0
  transition: opacity .5s ease-in

.page-wrapper
  min-height: 100%
  margin-bottom: -142px
  padding 80px 0

.page-wrapper:after
  content: ""
  display: block

.site-footer, .page-wrap:after
	height: 142px