/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


// Colors
black = #111111
blue = #3F51B5
yellow = #FFCC33
text = #323338
dark-blue = #303F9F
light-blue = #CFD8DC
light-grey = #B6B6B6
grey = #727272

red = #e51c23
purple = #673ab7
indigo = #3f51b5
green = #8ADF8F
orange = #ff9800

social = {
    twitter: #00aced,
    facebook: #3b5998,
    google: #dd4b39,
    youtube: #bb0000
}

moves = {
    top-rock: blue,
    go-down: purple,
    footwork: green,
    power-move: red,
    freeze: indigo,
    burner: orange
}

// Grid
$xsmall = 340px
$small = 500px
$med = 800px
$large = 960px
$wide = 1200px

$headHeight = 65px

// Layers
z = {
    video: 7,
    header: 8,
    nav: 9,
    modal: 10
}
